.body{
    overflow: hidden;
}
.night-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
        to top,
        #d1cbe6 0%,     /* very light lavender (bottom) */
        #a18acb 40%,    /* soft purple mid-tone */
        #7b66b2 70%,    /* deeper purple */
        #5a4f91 100%    /* dark violet top */
      );
}

.moonandstars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    position: relative;
}
.moon{
    width: 200px;
    height: 200px;
    transition: transform 2s ease;
    cursor: pointer;
}
.moon:hover{
    transform: scale(1.5);
}

.stars1{
    width: 50px;
    height: 50px;
    position: absolute;
    top:80%;
    right: 5px;
}
.stars2{
    width: 50px;
    height: 50px;
    position: absolute;
    top:30%;
    left: 35px;
}
.stars3{
    width: 70px;
    height: 70px;
    position: absolute;
    top:10%;
    right: 555px;
}
.shooting-star img{
    width: 100px;
    height: 100px;
}
.shooting-star{
    position: absolute;
    top: 0px;
    right: -100px;
    overflow: hidden;
}
.branchesandbirds{
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.owl{
    width: 150px;
    height:150px;
    top:17%;
    left:12%;
    transition: transform 2s ease;
    position: absolute;
    cursor: pointer;
}
.owl:hover{
    transform: scale(1.2);
}
.branch{
    height:600px;
    width: 600px;
}